<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Join Simple Suppers</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="subscription-container">
    <h1>Dive into Deliciousness!</h1>
    <p>
      Unlock a world of effortless meal planning with
      <span class="highlight">SimpleSuppers Premium</span>.
    </p>
    <p>
      For just <span class="highlight">$4.99/month</span>, get exclusive
      features and early access to our latest tools. <br />
      Why wait?
    </p>
    <p>
      <strong>And guess what?</strong> Kickstart your gourmet journey with a
      <span class="highlight">7-day FREE trial</span> on us!
    </p>
    <ion-button (click)="purchase(products[0])">Start My Free Trial</ion-button>
  </div>
</ion-content>
