.no-entries p {
  display: block;
  margin: auto;
  width: 5;
  text-align: center;
  margin-top: 50px;
  color: gray;
  font-size: 20px;
}

.tint-color {
  --background: var(--ion-color-primary-tint);
}

#warningPlanMsg {
  height: 30px;
  background: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 13px;
}
