<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="..">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recipe Book</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="cards-container">
    <span *ngFor="let item of recipes; let i = index">
      <app-recipe-card-small [title]="item.description" [routerLink]="['details', i]"></app-recipe-card-small>
    </span>
  </div>
</ion-content>
