<ion-card>
  <ion-card-header class="faded-header">
    <ion-card-subtitle
      >Add a description for the meal this week</ion-card-subtitle
    >
    <ion-card-title>{{ startDate }} - {{ endDate }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item lines="none">
      <ion-label position="stacked">Meal Description</ion-label>
      <ion-input
        autocapitalize="words"
        autocomplete="on"
        autocorrect="on"
        placeholder="Taco Salad on Monday"
        [(ngModel)]="mealDescription"
      ></ion-input>
    </ion-item>
    <!--
    <ion-item lines="none">
      <ion-label position="stacked">Breakfast, Lunch or Dinner?</ion-label>
      <ion-select placeholder="Select Mealtime" [(ngModel)]="mealTime">
        <ion-select-option value="breakfast">Breakfast</ion-select-option>
        <ion-select-option value="lunch">Lunch</ion-select-option>
        <ion-select-option value="dinner">Dinner</ion-select-option>
      </ion-select>
    </ion-item>-->
  </ion-card-content>
  <ion-button expand="block" (click)="addEntry(mealDescription)"
    >Submit</ion-button
  >
</ion-card>
